<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Kakao 지도 시작하기</title>
</head>

<body>
  <div id="map" style="width:100%;height:95vh;"></div>
  <p id="result"></p>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{KAKAO_API_KEY}}"></script>
  <script>
  {% comment %} 클릭한 위치의 위도는 37.56571489079204 이고, 경도는 126.97331005988251 입니다 {% endcomment %}
    var container = document.getElementById('map');
    var options = {
      center: new kakao.maps.LatLng(37.56571489079204, 126.97331005988251),
      level: 4
    };

    var map = new kakao.maps.Map(container, options);

    kakao.maps.event.addListener(map, 'click', function(mouseEvent) {        
    
      // 클릭한 위도, 경도 정보를 가져옵니다 
      var latlng = mouseEvent.latLng;
      
      var message = '클릭한 위치의 위도는 ' + latlng.getLat() + ' 이고, ';
      message += '경도는 ' + latlng.getLng() + ' 입니다';
      
      var resultDiv = document.getElementById('result'); 
      resultDiv.innerHTML = message;
    
    });

    // 선을 구성하는 좌표 배열입니다. 이 좌표들을 이어서 선을 표시합니다
    var linePath = [
    // 클릭한 위치의 위도는 37.56331391371145 이고, 경도는 126.97410887249983 입니다
        new kakao.maps.LatLng(37.56432352687426, 126.9764854455257), // 시청역 12번 출구
        new kakao.maps.LatLng(37.56553504400646, 126.97491740238583), // 덕수궁
        //new kakao.maps.LatLng(37.56769692086134, 126.97260756300273), // 고종의 길
        new kakao.maps.LatLng(37.56814718063462, 126.97159998426685), // 구 러시아 공사관

        new kakao.maps.LatLng(37.56549816531884, 126.97123878657418), // 이화 여고
        new kakao.maps.LatLng(37.56331391371145, 126.97410887249983) // 시청역 10번 출구 
    ];

    // 지도에 표시할 선을 생성합니다
    var polyline = new kakao.maps.Polyline({
        path: linePath, // 선을 구성하는 좌표배열 입니다
        strokeWeight: 5, // 선의 두께 입니다
        strokeColor: '#209CEE', // 선의 색깔입니다
        strokeOpacity: 0.9, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
        strokeStyle: 'solid' // 선의 스타일입니다
    });

    var positions = [
    {
        title: '시청역 12번 출구', 
        latlng: new kakao.maps.LatLng(37.56432352687426, 126.9764854455257)
    },
    {
        title: '덕수궁', 
        latlng: new kakao.maps.LatLng(37.56553504400646, 126.97491740238583)
    },
    //{
      //  title: '고종의 길', 
      //  latlng: new kakao.maps.LatLng(37.56769692086134, 126.97260756300273)
    //},
    {
        title: '구 러시아 공사관',
        latlng: new kakao.maps.LatLng(37.56814718063462, 126.97159998426685)
    },
    {
        title: '이화 여고',
        latlng: new kakao.maps.LatLng(37.56549816531884, 126.97123878657418)
    },
    {
        title: '시청역 10번 출구',
        latlng: new kakao.maps.LatLng(37.56331391371145, 126.97410887249983)
    }
];
        var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 
    
       
        for (var i = 0; i < positions.length; i ++) {
    
            // 마커 이미지의 이미지 크기 입니다
            var imageSize = new kakao.maps.Size(24, 35); 
            
            // 마커 이미지를 생성합니다    
            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);
            
            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: positions[i].latlng, // 마커를 표시할 위치
                title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                image : markerImage // 마커 이미지 
            });
        }

    // 지도에 선을 표시합니다 
    polyline.setMap(map);  
    </script>
</body>

</html>