<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Kakao 지도 시작하기</title>
</head>
<body>
    <a href= "javascript:void(0);" onclick="navigation('유성온천')">[길 안내]</a>
	<div id="map" style="width:500px;height:400px;"></div>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{KAKAO_API_KEY}}&libraries=services"></script>
	<script type="text/javascript">
    // 주소-좌표 변환 객체를 생성합니다
    function navigation(dest) {
        var geocoder = new kakao.maps.services.Geocoder(); // 카카오맵 GPS Service

        function searchAddrFromCoords(lon, lat, callback) {
            // 좌표로 행정동 주소 정보를 요청합니다
            geocoder.coord2RegionCode(lon, lat, callback);         
        }

        function searchDetailAddrFromCoords(lon, lat, callback) {
            // 좌표로 법정동 상세 주소 정보를 요청합니다
            geocoder.coord2Address(lon, lat, callback);
        }
        if (navigator.geolocation) {
            // GeoLocation을 이용해서 접속 위치를 얻어옵니다
            navigator.geolocation.getCurrentPosition(function(position) {
                
                var lat = position.coords.latitude, // 위도
                    lon = position.coords.longitude; // 경도
                // console.log(lat, lon)
                searchDetailAddrFromCoords(lon, lat, function(res) {
                var addr = res[0].address.address_name // 현재 위치의 상세 주소를 return
                    //console.log(addr)
                    var start = addr
                    var wayToGo = "walk"
                    var url = `https://map.kakao.com/?target=${wayToGo}&sName=${start}&eName=${dest}`
                    
                    window.open(url)
                    console.log(window.location.href)
                })
                
                    
            });
            
        } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
                message = 'geolocation을 사용할수 없어요..'
            displayMarker(locPosition, message);
        }
    }
	</script>
</body>
</html>