<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Themeveler</title>
</head>

<body>
  <div class="container height: 800px; width: 600px;">

    <!-- mail-header -->
    <div class="bg-email"
      style="margin: 5rem auto 0 auto; background-color: rgb(72, 76, 87); border-radius: 10px 10px 0 0; width: 60%; height: 200px; padding-top: 3rem;">
      <!-- box-shadow: 1px 1px 2px 1px rgb(80, 80, 80); -->

      <div class="mail-border;" style="margin: 0 auto; height: .4rem; width: 200px; border-radius: 3px 3px 0 0;
      background: linear-gradient(55deg,
      rgb(255, 115, 115) 25%, rgb(255, 255, 255) 0, rgb(255, 255, 255) 50%,
      rgb(255, 115, 115) 0, rgb(255, 115, 115) 75%, rgb(156, 195, 255) 0);
      -webkit-background-size:30px 23px; padding: 0 .6rem;"></div>
      <div class="mail-shapes"
        style="justify-content: center; display: flex; padding: .6rem; background-color: white; height: auto; width: 200px; border-radius: 0 0 3px 3px; margin: 0 auto .5rem auto;">

        <!-- mail -->
        <div class="mail" style="height: auto">
          <div class="mail-title"
            style="margin-bottom: .3rem; border-bottom: 1px solid; color: rgb(81, 81, 83); text-align: center; font-weight: 500; font-size: 20px; font-family: 'Courier New', Courier, monospace;">
            Authentication Code
          </div>
          <div class="mail-num"
            style="margin-bottom: .2rem; color: rgb(81, 81, 83); text-align: center; font-weight: 1000; font-size: 22px; font-family: 'Courier New', Courier, monospace;">
            {{ confirm_code }}
          </div>
          <div class="warning"
            style="text-align: center; font-size: 12px; border-top: 1px solid; padding-top: .3rem; color: gray;">다른사람에게
            <br> 코드를 노출시키지 마세요.</div>
        </div>
      </div>
    </div>

    <!-- mail bottom -->
    <!-- border: 1px rgb(151, 156, 172) solid;  -->
    <div class="mail-bottom"
      style="border-radius: 3px; padding: 1rem; margin: 0 auto 0rem auto; width: 60%; background-color: rgb(239, 241, 243);">
      <div class="mail-bottom-text">
        <img width="50px"
          src="https://user-images.githubusercontent.com/52684457/81582000-7606aa00-93ea-11ea-86e9-06324fd4b39c.png"
          alt=""
          style="margin: 0 auto; display: block;">
        <div class="email-bottom-message" style="margin: 1rem 0; text-align:center; font-style: italic;">본 메세지는 Themeveler에서 보낸 이메일 입니다.</div>
      </div>
      <div class="copy-right" style="margin-top: 20px;">
        <div class="copy-right-font" style="text-align:center; color: gray; font-size: 12px;">© 2020 테마를 여행하다 Themeveler</div>
      </div>
    </div>
    <div class="mail-bottom-footer"
      style="margin: 0 auto 5rem auto; border-radius: 0 0 10px 10px; width: 60%; height: 20px; background-color: rgb(72, 76, 87);">
      .
    </div>
  </div>
</body>

</html>